.button
  display: flex
  justify-content: center
  align-items: center
  border: none
  cursor: pointer

.button--large
  border-radius: 6px
  font-size: 18px
  padding: 16px 32px

.button--medium
  border-radius: 6px
  font-size: 15px
  padding: 12px 24px

.button--small
  border-radius: 4px
  font-size: 15px
  padding: 6px 16px


.button--long
  width: 100%

.button--primary
  background: var(--primary-color)
  color: var(--second-color)

.button--secondary
  background: var(--secondary-bg-color)
  color: var(--primary-color)
  border: var(--border-color)
  box-shadow: var(--box-shadow-color)

.button--tertiary
  background: var(--second-color)
  color: var(--main-text-color)
  border: var(--border-color)

.button__icon
  display: flex
  align-items: center
  justify-content: center
  margin-left: 10px
