.button
  display: flex
  justify-content: center
  align-items: center
  border-radius: 6px
  border: none
  cursor: pointer
  font-size: 18px
  padding: 16px 32px

.button--long
  width: 100%

.button--primary
  background: #5552E8
  color: #fff

.button--secondary
  background: #fff
  color: #5552E8
  border: 1px solid rgba(0, 0, 0, 0.06)
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 16px rgba(0, 0, 0, 0.08)

.button--tertiary
  background: #fff
  color: #000
  border: 1px solid rgba(0, 0, 0, 0.06)

.button__icon
  display: flex
  align-items: center
  justify-content: center
  &:first-child
    margin-right: 10px
  &:last-child
    margin-left: 10px
