.button
  display: flex
  justify-content: center
  align-items: center
  background: #5552E8
  color: #fff
  border-radius: 6px
  border: none
  cursor: pointer
  font-size: 18px
  padding: 16px 32px

.button--long
  width: 100%

.button--short_icon

.button--long_icon
  width: 100%
