//-- primary
div
  button.primary.button--short
    | Большая
br
div
  button.primary.button--long
    | Большая
br
div
  button.primary.button--short_icon
    | Большая
    include ../../icons/arrow-right.svg
br
div
  button.primary.button--long_icon
    | Большая
    include ../../icons/arrow-right.svg
br
//-- primary

//-- secondary
div
  button.secondary.button--short
    | Большая
br
div
  button.secondary.button--long
    | Большая
br
div
  button.secondary.button--short_icon
    | Большая
    include ../../icons/arrow-right.svg
br
div
  button.secondary.button--long_icon
    | Большая
    include ../../icons/arrow-right.svg
br
//-- secondary

//-- tertiary
div
  button.tertiary.button--short
    | Большая
br
div
  button.tertiary.button--long
    | Большая
br
div
  button.tertiary.button--short_icon
    | Большая
    include ../../icons/arrow-right.svg
br
div
  button.tertiary.button--long_icon
    | Большая
    include ../../icons/arrow-right.svg
//-- tertiary
