//-- primary
div
  button.button.button--large.button--primary.button--short
    | Большая
br
div
  button.button.button--large.button--primary.button--long
    | Большая
br
div
  button.button.button--large.button--primary.button--short
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--large.button--primary.button--long
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- primary

//-- secondary
div
  button.button.button--large.button--secondary.button--short
    | Большая
br
div
  button.button.button--large.button--secondary.button--long
    | Большая
br
div
  button.button.button--large.button--secondary.button--short
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--large.button--secondary.button--long
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- secondary

//-- tertiary
div
  button.button.button--large.button--tertiary.button--short
    | Большая
br
div
  button.button.button--large.button--tertiary.button--long
    | Большая
br
div
  button.button.button--large.button--tertiary.button--short
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--large.button--tertiary.button--long
    span Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- tertiary


//--medium size

//-- primary
div
  button.button.button--medium.button--primary.button--short
    | Средняя
br
div
  button.button.button--medium.button--primary.button--long
    | Средняя
br
div
  button.button.button--medium.button--primary.button--short
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--medium.button--primary.button--long
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- primary

//-- secondary
div
  button.button.button--medium.button--secondary.button--short
    | Средняя
br
div
  button.button.button--medium.button--secondary.button--long
    | Средняя
br
div
  button.button.button--medium.button--secondary.button--short
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--medium.button--secondary.button--long
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- secondary

//-- tertiary
div
  button.button.button--medium.button--tertiary.button--short
    | Средняя
br
div
  button.button.button--medium.button--tertiary.button--long
    | Средняя
br
div
  button.button.button--medium.button--tertiary.button--short
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--medium.button--tertiary.button--long
    span Средняя
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- tertiary

//--medium size


//--small size

//-- primary
div
  button.button.button--small.button--primary.button--short
    | Маленькая
br
div
  button.button.button--small.button--primary.button--long
    | Маленькая
br
//-- primary

//-- secondary
div
  button.button.button--small.button--secondary.button--short
    | Маленькая
br
div
  button.button.button--small.button--secondary.button--long
    | Маленькая
br
//-- secondary

//-- tertiary
div
  button.button.button--small.button--tertiary.button--short
    | Маленькая
br
div
  button.button.button--small.button--tertiary.button--long
    | Маленькая
//-- tertiary

//--small size



