//-- primary
div
  button.button.button--primary.button--short
    | Большая
br
div
  button.button.button--primary.button--long
    | Большая
br
div
  button.button.button--primary.button--short
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--primary.button--long
    .button__icon
      include ../../icons/arrow-right.svg
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- primary

//-- secondary
div
  button.button.button--secondary.button--short
    | Большая
br
div
  button.button.button--secondary.button--long
    | Большая
br
div
  button.button.button--secondary.button--short
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--secondary.button--long
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
//-- secondary

//-- tertiary
div
  button.button.button--tertiary.button--short
    | Большая
br
div
  button.button.button--tertiary.button--long
    | Большая
br
div
  button.button.button--tertiary.button--short
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
br
div
  button.button.button--tertiary.button--long
    | Большая
    .button__icon
      include ../../icons/arrow-right.svg
//-- tertiary
