div
  button.button.button--short
    | Большая
br
div
  button.button.button--long
    | Большая
br
div
  button.button.button--short_icon
    | Большая
    include ../../icons/arrow-right.svg
br
div
  button.button.button--long_icon
    | Большая
    include ../../icons/arrow-right.svg
