mixin button(text, type, size, long = false, icon = false)
  button(class=`button button--${type} button--${size}${long ? ' button--long' : ''}`)
    span=text
    if icon
      .button__icon
        include ../../icons/arrow-right.svg
