.input
  label.input-label Ваша почта
  input.input__field(type="email" placeholder="Введите почту" required)
br
.input
  label.input-label Ваша почта
  input.input__field--active(type="email" placeholder="Введите почту" required)
br
.input
  label.input-label Ваша почта
  input.input__field--error(type="email" placeholder="Введите почту" required)
  .input__message Обязательное поле
