.input
  label
    .form__label(for="email") Ваша почта
    input.input__field.input--disable(type="email" id="email" autocomplete="on" placeholder="Введите почту" required)
br
.input
  label
    .form__label(for="email") Ваша почта
    input.input__field.input__active(type="email" id="email" autocomplete="on" placeholder=" " required)
br
.input
  label
    .form__label(for="email") Ваша почта
    input.input__field.input__error(type="email" id="email" autocomplete="on" placeholder=" " required)
    .text__error Обязательное поле
