.input
  label.input__label Ваша почта
  input.input__field(type="email" placeholder="Введите почту" required)
  .input__message
br
.input.input--disable
  label.input__label Ваша почта
  input.input__field(type="email" placeholder="Введите почту" disabled)
  .input__message
br
.input.input--active
  label.input__label Ваша почта
  input.input__field(type="email" placeholder="Введите почту" required)
  .input__message
br
.input.input--error
  label.input__label Ваша почта
  input.input__field(type="email" placeholder="Введите почту" required)
  .input__message Обязательное поле
