.tabs.tabs--active
  input(type="radio" name="group-1" id="tab-btn-1" checked)
  label(for="tab-btn-1") Активный таб
  input(type="radio" name="group-1" id="tab-btn-2")
  label(for="tab-btn-2") Неактивный таб
br
.tabs.tabs--default
  input(type="radio" name="group-2" id="tab-btn-3" checked)
  label(for="tab-btn-3") Активный таб
  input(type="radio" name="group-2" id="tab-btn-4")
  label(for="tab-btn-4") Неактивный таб
br
.tabs.tabs--hover
  input(type="radio" name="group-3" id="tab-btn-5" checked)
  label(for="tab-btn-5") Активный таб
  input(type="radio" name="group-3" id="tab-btn-6")
  label(for="tab-btn-6") Неактивный таб
