.wrapper
  h2 Табы
   span .tabs
  br
  .tab
    .tab.tab--active
      ul
        li
          a.tab__text.tab__text--active(href="#") Активный таб
        li
          a.tab__text.tab__text--disable(href="#") Неактивный таб
    .tab.tab--default
      ul
        li
          a.tab__text.tab__text--active(href="#") Активный таб
        li
          a.tab__text.tab__text--disable(href="#") Неактивный таб
