.textarea.textarea--default
  label.textarea__label
  textarea.textarea__field(name="story" placeholder="Введите комментарий" required)
br
.textarea.textarea--label
  label.textarea__label Комментарий к заказу
  textarea.textarea__field(name="story" placeholder="Введите комментарий" required)
br
.textarea.textarea--disable
  label.textarea__label Комментарий к заказу
  textarea.textarea__field(name="story" placeholder="Введите комментарий" disabled)
br
