extends ../layouts/main-layout

block variables
  - const title = "index page"
  -
    const buttonData = {
      text: 'Йа кнопка',
      type: 'primary',
      size: 'large',
      long: false,
      icon: true
    }

include ../components/button

block content
  //- +button(buttonData.text, buttonData.type, buttonData.size, buttonData.long, buttonData.icon)
  //- include ../components/input
  include ../components/textarea

